<div ng-controller = "componentOptionsController">
	<div id = 'categoryPick'>
		<h2>Pick a Category</h2>
		<select ng-model = 'selected.which' size = '4'>
			<option ng-repeat = 'item in which'>[[item]]</option>
		</select><br>
	</div>

	<div id = 'itemSelect' ng-if = 'selected.which'>
		<h2>Pick an item</h2>
		<select ng-if = 'selected.which' size = '6' ng-model='selected.item'>
			<option ng-repeat = '(key, value) in selected.obj'>[[key]]</option>
		</select>
		<button ng-click='postComponent()'>Done</button>
	</div>
</div>