Django==1.9.7
django-cors-headers==1.1.0
get==0.0.11
gunicorn==19.6.0
pbr==1.10.0
post==0.0.8
public==0.0.34
query-string==0.0.8
request==0.0.8
requests==2.10.0
six==1.10.0
stevedore==1.15.0
vboxapi==1.0
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
whitenoise==3.2
